{ 
    "extends": "airbnb-base",
    "rules": {
        "semi": "off",
        "comma-dangle": "off",
        "strict": "off",
        "arrow-parens": "off",
        "indent": ["error", 4],
        "no-underscore-dangle": "off",
        "no-restricted-syntax": "off",
        "no-prototype-builtins": "off",
        "class-methods-use-this": "off",
        "max-len": ["error", 120]
    }
}