language: node_js

os:
  - linux
  - osx
 
node_js:
  - "6"
  - "7"
  - "8"
  - "9"
  - "10"

env:
- NODE_ENV=TEST
  
install: 
  - npm install -g jasmine
  - npm install

script: npm run test-travis
